@model IEnumerable<TodoList.Entities.WorkTask>

@{
    ViewData["Title"] = "All Tasks";
}

<h1>Todo List</h1>

<p>
    <a asp-action="Create">Dodaj Zadanie</a>
</p>
<div class="container">
    @await Component.InvokeAsync("Notification")
</div>
<form asp-action="FindWorkTasksByDate" method="get">
    <label for="date">Wybierz datę:</label>
    <input type="date" id="date" name="date" />
    <button type="submit">Szukaj</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.ExpectedEndDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @item.CreatedAt.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "WorkTaskDetails", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
